.content-box {

	&__item {
		@include above (sm) {
			background-clip: content-box;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		@include below (sm) {
			background-clip: content-box;
		}

		@include below (md) {
			width: 100%;
		}

		@include above (md) {
			width: 33.2%;
		}
	}

	&__wrap {
		padding: 2rem 1rem;
		text-align: center;

		i {
			font-size: 2.5rem;
		}

		a {
			color: $white;
			word-break: break-word;
		}
	}
}