.courses {

	&__container {

    	@include below (md) {
			left: -1rem;
    		position: relative;
		}
	}

	&__item {
		background: no-repeat center center;
		background-size: cover;
		min-height: 220px;
		position: relative;
		color: $white;
		display: block;
		background-clip: content-box;

		&:before {
			content: '';
			position: absolute;
			width: calc(100% - 1rem);
			height: calc(100% + 1rem);
			z-index: -1;
			bottom: -1rem;
			right: 0rem;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: $gray;
			opacity: .4;
			width: calc(100% - 2rem);
			height: 100%;
			left: 1rem;
			z-index: 0;
		} 

		&--blue {
			&:before {
				background: $blue;
			}
		}

		&--green {
			&:before {
				background: $green;
			}
		}

		&--red {
			&:before {
				background: $red;
			}
		}

		@include below (sm) {
			margin-bottom: 5rem;
		}

		@include above (sm) {
			width: calc(33.33% - 2rem);
			margin: 3rem 1rem;
		}
		
		@include above (md) {
			width: calc(33.33% - 3.65rem);
			margin: 3rem 1.5rem;
			min-height: 320px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		height: 100%;
		width: calc(100% - 2rem);

		&:before {
			content: url('/wp-content/themes/finderup/assets/img/pattern.png');
			position: absolute;
			z-index: -2;
			top: -1.1rem;
    		right: -2.1rem;
		}
	}

	&__title {
		position: relative;
		z-index: 10;
		left: 1rem;
		padding-bottom: 2rem;
	}
}