.cta {
	position: relative;
	color: $white;
	text-align: center;
	background: no-repeat center center;
	background-size: cover;
	padding-top: 4rem;
	padding-bottom: 4rem;

	@include above (sm) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	@include above (md) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	
	@include above (lg) {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}


	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($gray, .68);
	}

	&:after {
		@include above (lg) {
			content: '';
			position: absolute;
			width: 80px;
			height: 100%;
			top: 0;
			left: 0;
			background: $gray;
		}
	}

	&__title {
		padding-bottom: 2rem;
		margin-top: 0;
	}

	&__title, &__btn { 
		z-index: 1;
		position: relative;
	}
}