.employees {

	&__item {	
		margin: 1rem 0rem;
		display: flex;
		flex-direction: column;

		@include below (xs) {
			width: 100%;
		}

		@include between (xs, sm) {
			width: 49.9%;
		}

		@include above (sm) {
			width: 49.9%;
		}

		@media (min-width: 1300px) {
			width: 33.2%;
		}
	}

	&__img {
		min-height: 350px;
		background: no-repeat center center;
		background-size: cover;
	}

	&__content {
		padding: 1rem;
		flex: 1;
		position: relative;
    	z-index: 0;
	}

	&__name {
		display: block;
		font-weight: 600;
		padding-bottom: .5rem;
	}

	&__title {
		display: block;
		padding-bottom: .5rem;
		font-size: 14px;
	}

	&__mail, &__phone {
		word-break: break-word;
		font-size: 14px;

		@include content-link(
			$link-color: $white,
			$hover-color: $gray,
			$background: $white
		);
	}
}