/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	position: relative;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__container {
		@include above (lg) {
			width: calc(100% - 100px);
			left: 50px;
			position: relative;
		}
	}

	&__item {
		color: $white;

		@include below (sm) {
			padding-left: 0;
			padding-right: 0;
		}

		
		p {
			@include above (sm) {
				margin-bottom: 0;
			}
		}

		a {
		 	color: $white;
		 	transition: all ease .3s;

		 	&:hover {
		 		color: $green;
		 	}
		}
	}

	&__title {
		@include above (sm) {
			margin-top: 0;
		}
	}

	&__portal {
		background: $gray-light;
		position: absolute;
		right: 0;
		height: 80px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	bottom: 0;
    	align-items: center;

    	&:before {
			width: 100%;
			height: 0;
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			background: $gray;
			transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
			z-index: 0;
    	}

    	&:hover {

    		&:before {
    			height: 100%;
    		}

			#Calque_1 {
				polygon {
					fill: $gray-light;
				}
			}
    	}

    	@include above (sm) {
			top: 0;  
			height: 100%;  		
			width: 80px;
    	}

		#Calque_1 {
			transform: rotate(-90deg);
			position: relative;
			z-index: 10;
			transition: all ease .3s;

			polygon {
				fill: $gray;
			}
		}
	}
}
