.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	// List of fields (reset from entry.scss)
	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		@extend .btn, .btn--gray;
		margin: 0 !important;
		display: inline-block;
		padding: 1rem 2.5rem !important;
		border: none;
		-webkit-appearance: none;
		cursor: pointer;
	}

	// Submit wrapper
	&_footer {

	}
}


/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: block !important;
		color: $gray;
		font-weight: 600!important;
	}

	&_required {
		color: $red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		width: 100% !important;
		padding: .8rem !important;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		border-radius: 0;
		transition: all 0.3s ease;

		 &:hover {
		// 	background: $input-background-hover;
		// 	color: $input-color-hover;
		// 	border-color: $input-border-hover;
		}

		&:focus {
			// background: $input-background-focus;
			// color: $input-color-focus;
			// border-color: $input-border-focus;
		}
	}

	input[type="checkbox"] {
		border: none;
		outline: none;
		margin-top: 0!important;
		webkit-appearance: none;
		position: relative;

		&:before {
		  content: '';
		  position: absolute;
		  display: none;
		}

		&:after {
			position: absolute;
			width: 20px;
			height: 20px;
			content: '';
			background: $white;
			left: 0;
			top: -2px;
			border-radius: 2px;
			transition: all ease .3s;
		}
	}


	input[type="checkbox"]:checked {
		&:before {
			display: block;
			left: 9px;
			top: 2px;
			width: 5px;
			height: 10px;
			border: solid $green;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: 100;
		}

		&:after {
			
		}
	}
}


.gf_left_half, 
.gf_right_half {
	@media (min-width: 640px) {
		width: calc(50% - .5rem)!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: 1rem;
	}
}

.gfield_select {
	-webkit-appearance: none;
	background: $white;
	border: none;
	border-radius: 0;
	padding: .8rem !important;
}

.ginput_container_select {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		right: .5rem;
		background: url(../img/angle-down-solid.svg);
		background-repeat: repeat-y;
		width: 1rem;
		height: 1rem;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}
}

#field_1_19 {
	display: flex;

	.gfield_label {
		order: 2;
		margin-left: 3rem;
		font-weight: 600;
		font-size: 15px;
	}
}

.gfield_html h2 {
	font-weight: 700!important;
}


/**
 * Validations
 **/

.validation_error {
	color: $red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: $red !important;
	}

	.validation_message {
		color: $red !important;
		font-size: 1.2rem !important;
	}
}


#label_1_19_1 {
	display: none;
}