/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 1rem;
  
  &__logo {
    display: block;
    float: left;

    img {
      width: 154px;
      height: 72px;

      @include above (sm) {
      	width: 204px;
      	height: 96px;
      }
    }
  }
}