/********************HOME********************/

/*
 * This file should house all of the styles for whatever
 * file you decide to use for your home page template.
 * This could be front-page.php, home.php, or index.php.
 */

.home {

	&__container {

    	@include below (md) {
			left: -1rem;
    		position: relative;
		}
	}
	
	&__post {
		background: no-repeat center center;
		background-size: cover;
		min-height: 220px;
		position: relative;
		color: $white;
		display: block;
		background-clip: content-box;

		@include below (sm) {
			margin-bottom: 5rem;
			width: 100%;
		}

		@include above (sm) {
			width: calc(33.33% - 3rem);
			background-clip: content-box;
			margin: 3rem 1.5rem;
		}
		
		@include above (md) {
			width: calc(33.33% - 3.65rem);
			margin: 3rem 1.5rem;
			min-height: 320px;
		}

		&:hover {
			
			.home__content  p {
				display: block;
				max-height: 96px;
				opacity: 1;	
				transition: max-height ease .3s;
			}
		}
		
		&.blue--bg {
			&:before {
				background: $blue;
			}
		}

		&.green--bg {
			&:before {
				background: $green;
			}
		}

		&.red--bg {
			&:before {
				background: $red;
			}
		}

		&:before {
			content: '';
			position: absolute;
			width: calc(100% - 1rem);
			height: calc(100% + 1rem);
			z-index: -1;
			bottom: -1rem;
			right: 0rem;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: $gray;
			opacity: .4;
			width: calc(100% - 2rem);
			height: 100%;
			left: 1rem;
			z-index: 0;
		} 
	}

	&__overlay {
		position: relative;

		&:before {
			content: url('/wp-content/themes/finderup/assets/img/pattern.png');
			position: absolute;
			z-index: -2;
			top: -1.1rem;
    		right: -2.1rem;
		}
	}

	&__content {
		bottom: 3rem;
		padding: 1rem;
		flex: 1;
		justify-content: flex-end;
    	display: flex;
    	flex-direction: column;
    	color: $white;
		z-index: 10;
		height: 100%;
		overflow: hidden;

    	p {
    		transition: max-height ease .3s;
    		max-height: 0;
    		margin-bottom: 0;
    		opacity: 0;
    	}
	}

	&__title {
		position: relative;
		margin-top: 0;
		bottom: 0;
		z-index: 10;
		color: $white;
	}
}
