.info-menu {

	&__container {
		padding: 0;
	}

	&__item {
		color: $white;
		text-align: center;
		padding-top: 3rem;
		padding-bottom: 3rem;
		display: block;
		transition: all ease .3s;

		&:hover {
			background: #3f6489;

			#Capa_1 {
				filter: drop-shadow(.1rem .2rem .8rem rgba(0, 0, 0, .8));
			}
		}

		@include below (sm) {
			width: 100%; 
		}

		@include above (sm) {
			padding-bottom: 5rem;
			padding-top: 5rem;
		}

		&:nth-child(1), &:nth-child(2) {
			border-bottom: 3px solid #3f6489;

			@include above (sm) {
				border-right: 3px solid #3f6489;
			}
		}

		h4 {
			margin-bottom: 0;
		}
		
		#Capa_1 {
			max-height: 68px;
			filter: drop-shadow(.1rem .2rem .6rem rgba(0, 0, 0, .6));
			transition: all ease .3s;

			@include between (sm, md) {
				max-height: 75px;
			}

			@include above (md) {
				max-height: 108px;
			}

			path {
				fill: $white!important;
			}
		}
	}
}