/********************LAYOUTS********************/

/* Base Styles */


#wysiwygs-1 {
  .wysiwygs__title {
    margin-top: 0;
  }
}

/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here
    
  }

  &__container {
    @include clearfix ();
  }

  &__title {
    
  }

  &__col {
  
    a:not(.btn) {
      @include content-link; 
    }
  	
  	@include above (sm) {
    		&.first {
    			p:last-child {
  			   margin-bottom: 0;
  			 }
    		}
    	}
  	
  	&.last {
      @include below (sm) {
        padding-top: 3rem;
      }

  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    margin-top: 3rem;
  }
  
  &--bottom {
    margin-bottom: 3rem;
  }

  &--both {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  @include above (sm) {

    &--top {
      margin-top: 6rem;
    }

    &--bottom {
      margin-bottom: 6rem;
    }

    &--both {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
  }
}

.gray--bg, .blue--bg, 
.red--bg, .green--bg {
  color: $white;
}