.link-boxes {
 
	&__header {

	}

	&__item {
		position: relative;
		padding-top: 3rem;
		padding-bottom: 3rem;

		@include above (sm) {
			padding-top: 6rem;
			padding-bottom: 6rem;
			display: flex;

			&:before {
				content: '';
				position: absolute;
				width: 50%;
				background: $gray;
				height: 20rem;
				bottom: 3.5rem;
			}
		}

		&--reverse {

			&:before {
				right: 0;
			}

			.link-boxes__wrap {
				margin-bottom: auto;

				&:before {
					left: -2.2rem;

					@include above (sm) {
						right: -2.2rem;
						left: auto;
					}
				}
			}

			.link-boxes__text {
				order: 2;
				left: auto;

				@include above (sm) {
					right: 1rem;
				}

				@include above (lg) {
					right: 80px;
				}
			}
		}
	}

	&__text {
		left: 0rem;
		position: relative;
		z-index: 10;
		color: $white;
		padding: 4rem 1rem;
		padding-top: 3rem;

		@include above (sm) {
			padding: 4rem 2rem;
			left: 1rem;
		}

		@include between (sm, lg) {
			width: 50%;
		}

		@include above (lg) {
			left: 80px;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__btn {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__wrap {
		width: 100%;
		position: relative;
		top: -3rem;

		&:before {

    		@include above (sm) {
    			top: -2.2rem;
    			left: -2.2rem;
    			content: url('/wp-content/themes/finderup/assets/img/pattern.png');
				position: absolute;
				z-index: -1;
    		}
		}
	}

	&__img {
		min-height: 330px;
		background: no-repeat center center;
		background-size: cover;
		position: relative;

		@include below (sm) {
			min-height: 270px;
		}

		@include between (sm, lg) {
			width: 50%;

			&:nth-child(3) {
				display: none;
			}
		}
	}
}