/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    top: -10px;
	    left: 0;
	    margin: 0;
	    padding: 0rem;
	    opacity: 0;
    	vertical-align: top;

	    &.is-visible {
	    	transition: all ease .6s;
	    	transition-delay: .6s;
	    	opacity: 1;

	    	@include above (sm) {
	    		margin-top: 10px;
	    	}

	    	.nav__item {
	    		margin-top: 1.5rem;
	    		transition: all ease .6s;
	    		transition-delay: .6s;
	    	}
	    }

		@include above (sm) {
			width: auto;
			display: inline-block !important;
			padding: 0rem 1rem;
			height: auto;
			width: calc(33.3% - 1rem);
		}

		@include above (lg) {
			width: calc(25% - 2rem);
			padding: 0rem 2rem;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;
		font-weight: 600;
		display: inline-block;

		&:hover {
			.nav__featured-img {
				opacity: .15;
			}
		}


		@include above (sm) {
			padding: .5rem;
		}

		&.is-active > a {
			color: $green;
		}


		&.is-visible {

			.nav__link-icon {
		
			}
		}
	}

	&__link {
		display: inline-block;
		color: $white;
		position: relative;
		z-index: 9999;
		transition: all ease .3s;
		font-size: 16px;

		&:hover {
			color: $green;
		}

		&-icon {

		}
	}

	&__featured-img {
		width: 100vw;
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		background: no-repeat center center;
		background-size: cover;
		z-index: -1;
		opacity: 0;
		transition: all ease .3s;
		pointer-events: none;

		@include below (sm) {
			display: none;
		}
	}


	&__dropdown {
		padding-top: 0;
		padding-left: 0; 
		
		br:first-child {
			display: none;
		}

		&-trigger {
			display: inline-block;
			position: relative;
			transition: all ease .3s;
			color: $green;

			@include above (lg) {
				font-size: 20px;
			}
		}

		.nav__item {
			padding: 0;
			margin-top: .5rem!important;
		}

		a {
			@include above (sm) {
				padding: 0.5rem 1rem;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
	

	&--mobile {
		position: fixed;
		z-index: 78888;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transform: translateX(100%);
		transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1); 
		background: $gray;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		border: 1px solid $gray;

		&.is-open {
			transform: translateX(0);
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		z-index:  88888;
		width: 55px;
		height: 55px;
		cursor: pointer;
		background: $gray;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	transition: all ease .3s;

    	@include above (sm) {
    		width: 80px;
			height: 80px;			
    	}

    	&:hover {
    		background: $green;

    		.nav-toggle__icon {
    			filter: drop-shadow(.1rem .2rem .8rem rgba(0, 0, 0, .8));

    			&::before,
				&::after {
					filter: drop-shadow(.1rem .2rem .8rem rgba(0, 0, 0, .8));
				}
    		}
    	}

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 10px;
			vertical-align: middle;
			display: block;
    		position: relative;
    		text-transform: uppercase;
    		top: .8rem;
    		line-height: 1;

    		@include above (sm) {
				top: .5rem;
				line-height: 1.5;
    		}
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.7rem;
			height: 2px;
			background: $white;
			transition: all .3s ease;

			@include below (sm) {
				top: -.2rem;
			}

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

body.is-fixed {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}	