.news {

	&__post {
		background: $gray;
		padding-left: 0;
		padding-right: 0;
		font-weight: 600;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 10;
		color: $white;

		strong {
			font-weight: 600;
			margin-left: .5rem;
			margin-right: .5rem;
			hyphens: none;
		}

		span {
			padding: 1.5rem 2rem;
			background: $green;
			display: inline-block;
			color: $white;
		}

		@include below (sm) {
			font-size: 12px;

			#Calque_1 {
				display: none;
			}


			span {
				padding: 1rem 1.5rem;
			}

			strong {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}

		@include between (sm, md) {
			font-size: 15px;
			font-weight: 500;

			strong {
				font-weight: 500;
			}

			span {
				padding: 1rem 1.5rem;
			}

			#Calque_1 {			
				display: none;
			}
		}

		#Calque_1 {
			transition: all ease .3s;
		}

		&:hover {
			#Calque_1 {
				margin-left: .5rem;
			}
		}
	}
}