/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {
  
	&__hero {
		background: no-repeat center center;
		background-size: cover;
		padding-top: 15rem;
		padding-bottom: 10rem;
		position: relative;

		@include above (sm) {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}

		@include above (lg) {
			padding-top: 20rem;
			padding-bottom: 20rem;
		}

		&:before {
			content: '';
			background: linear-gradient(to top, rgba(229,229,229,1) 0%,rgba(255,255,255,0) 100%); 
			position: absolute;
			bottom: -1px;
			height: 50%;
			width: 100%;
			z-index: 1;
		}

		&:after {
			content: '';
			background: rgba($gray, .2); 
			position: absolute;
			bottom: 0;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}  

	&__title {
		margin-top: 0;
		color: $white;
		display: inline-block;
		margin-bottom: 0;
		position: relative;
		z-index: 10;
	}

	&__wrapper {
		@include below (sm) {
			display: block!important;
		}
	}

	&__content {
		padding: 0;

		@include above (lg) {
			&.is-sidebar {
				width: calc(66.66667% - 80px); 
				left: 80px;
			}	
		}
	}
}
