body.preloader-site {
    overflow: hidden;
}

.preloader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    //ie flexbox fix 
    align-items: center;
    min-height: 100%;
    height: 100px;

    img {
        margin: auto;

        //fucking retarded ie fix
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &--animation {
        z-index: -1;
        transition: all ease 1s;
        background: $gray;

        &:before {
            width: 0;
            z-index: 100;
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: $gray;
            opacity: .8;
            top: 0;
            left: 0;
        }
    }

    &__wrapper {
        height: 100vh;
        width: 100vw;
        background: $white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }

    &__img {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background: no-repeat center center;
        background-size: cover;


        &--1 {
            z-index: 1;
        }

        &--2, &--3,
        &--4, &--5 
        &--6, &--7 
        &--8, &--9 
        &--10, &--11 {
            display: none;
        }
    }
}