.sidebar {
 	color: $white;

 	@include above (lg) {
 		width: calc(33.3% - 80px);

 		&.is-open {
 			left: 80px;
	 		padding-left: 0; 
 		}
 	}

 	&--wrapper {
 		background: $gray;

 		@include below (sm) {
 			width: 100%!important;
 			left: 0;
 			margin-bottom: 1.5rem;
 		}

		&.is-sticky {
			position: fixed;
			top: 0;
			width: inherit;
			max-width: inherit;
		}

		&.is-fixed {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
 	}

 	&__toggle {
 		background: $green;
 		text-align: center;
 		color: $white;
 		position: relative;
 		padding: .1rem;

 		&:hover {
 			cursor: pointer;
 		}

 		i {
    		position: relative;
    		transform: rotate(-45deg);
    		transition: all ease .3s;
 		}

 		&.is-open {
 			background: $red;

 			i {
 				transform: rotate(90deg);
 			}
 		}
 	}

 	&__content {
 		padding: 1rem;

 		@include below (sm) {
 			display: none;
 		}
 	}

 	&__pagetitle {
 		margin-top: 0;
 	}

 	&__anchor {
 		display: block;
 		position: relative;

 		a {
			color: $white;
			position: relative;
 		}

 		&.is-active {

 			&:before {
 				content: '';
 				width: .5rem;
 				height: .5rem;
 				position: absolute;
 				top: 50%;
 				transform: translateY(-50%);
 				left: -1rem;
 			}

 			&:nth-child(1n), &:nth-child(1n + 3) {
 				&:before {
 					background: $blue;
 				}
 			}

 			&:nth-child(2n) {
 				&:before {
 					background: $green;
 				}
 			}

 			&:nth-child(3n) {
 				&:before {
 					background: $red;
 				}
 			}
 		}
 	}

 	&__related-content {

 		&--single {
			margin-top: 0;
 		}
 	}

 	&__related-links {
 		display: block;
 		color: $white;
 		position: relative;
 		margin-bottom: .2rem;

 		&.is-active {

 			&:before {
 				content: '';
 				width: .5rem;
 				height: .5rem;
 				background: $blue;
 				position: absolute;
 				top: 50%;
 				transform: translateY(-50%);
 				left: -1rem;
 			}
 		}
 	}
 }