.single {

	&__item {
		@include below (sm) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

 	&__title {
 		margin-top: 0;
 	}

 	&__post {
		a:not(.btn) {
			@include content-link; 
		}
 	}
 }