.slider {
	position: relative;
	
	&.hero {
		&:before {
			content: '';
			background: linear-gradient(to top, rgba(229,229,229,1) 0%,rgba(255,255,255,0) 100%); 
			position: absolute;
			bottom: -1px;
			height: 50%;
			width: 100%;
			z-index: 8;
			pointer-events: none;
		}	
	}

	&__track {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background-size: cover;
		background-position: center center;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 25rem;

			@include above (sm) {
				padding-bottom: 30rem;
			}

			@include above (md) {
				padding-bottom: 35rem;
			}

			@include above (lg) {
				padding-bottom: 35rem;
			}
		}
	}

	&__container {
		width: 100%;
	}

	&__title {
		color: $white;
		margin-top: 0;
	}

	&__text {
		color: $white;
		display: inline-block;
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	touch-action: manipulation;

	&--testimonial {
		width: 50%;
	}

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		position: absolute;
		bottom: 8rem;
		z-index: 100;
		@extend .lpad;

		@include above (sm) {
			bottom: 6rem;
		}

		@include above (md) {
			bottom: 13rem;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dot {
		height: .2rem;
		width: 2rem;
		background: $white;
		display: inline-block;
		position: relative;

		&.active {
			background: $gray;
		}
	}

	.owl-dot + .owl-dot {
		margin-left: .5rem;
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}
