.crt-grid-post > .crt-post-c > .crt-post-content > .crt-hitarea > .crt-post-hover {
	display: none!important;
}

.crt-social-icon {
	display: none!important;
}

.crt-post-c {
	margin-left: 0!important;
}