.social {

	&__title {
		margin-top: 0;
		padding-bottom: 1rem;

		@include above (sm) {
			padding-bottom: 3rem;
		}
	}

	&__wrap {
		padding-bottom: 3rem;
	}

	&__link {
		color: $green;
		font-weight: 700;
		font-size: 24px;
		hyphens: auto;
		display: block;
		transition: all ease .3s;

		&:hover {
			color: $blue;
		}

		& + & {
			margin-top: 1rem;
		}

		i {
			margin-right: .5rem;
		}

		@include above (sm) {
			hyphens: none;
			display: inline-block;

			& + & {
				margin-left: 8rem;
			}
		}
	}
}