.testimonials {

	&__img {
		color: $white;
		padding-top: 1rem;
		text-align: center;

		@include above (sm) {
			padding-top: 3rem;
		}

		@include between (sm, lg) {
			width: 100%;
		}

		h2 {
			margin-top: 0;
		}

		&--1 {
			background: rgba($red, .84);
		}

		&--2 {
			background: rgba($blue, .84);
		}
	}

	&__wrap {
		padding: 0;

		@include below (md) {
			&:nth-child(1) {
				margin-bottom: 3rem;
			}
		}

		@include above (sm) {
			display: flex;
		}

		@include between (xs, md) {
			width: 100%;
		}

		@include between (sm, lg) {
			flex-direction: column;
		}
	}

	&__text {
		color: $white;
		position: relative;
		flex: 1;

		@include between (sm, lg) {
			width: 100%;
		}

		em {
			display: block;
			font-weight: 500;
			position: relative;
			z-index: 10;
			padding: 2rem 0rem;

			@include above (sm) {
				width: 90%;
				padding: 3rem 1.5rem;
			}		
		}

		i {
			color: $red;
			filter: drop-shadow(.1rem .2rem .6rem rgba(0, 0, 0, .6));
			z-index: 0;
			position: absolute;
			top: 3rem;
    		right: 1rem;
    		font-size: 75px;

			@include above (lg) {
				font-size: 172px;
				right: 10%;
			}
		}

		&.blue--bg {
			i {
				color: $blue;
			}
		}
	}

	&__btn {
		font-style: normal;
		display: block;
		margin-top: 1.5rem;
		color: $white; 
	}

	&__name {
		background: $gray;
		position: relative;
		padding: 1rem;
		display: inline-block;

		@include above (sm) {
			left: -1rem;
		}
	}
}