.toolbar {
	position: fixed;
	z-index: 99999;
	right: 0rem;
	top: 1rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;

    @include above (sm) {
    	top: .1rem;
    	right: .1rem;
    }

    &.is-hidden {
		right: -80px;
    }

    &__search, &__link {
		width: 80px;
		height: 80px;
		background: $gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $white;
		font-weight: 600;
		font-size: 10px;
		text-transform: uppercase;
		transition: .3s all ease;
		border: none;
		outline: none;

		&:hover {
			background: $green;

			svg  {
				filter: drop-shadow(.1rem .2rem .8rem rgba(0, 0, 0, .8));
			}
		}

    	svg {
    		width: 1.5rem;
    		height: 1.5rem;
    		fill: $white;
    	}

    	&--btn {
    		
    	}
	}

	&__form {
		position: relative;
		transition: all ease .3s;

		svg {
			margin-bottom: .3rem;
		}

		#s {
    		display: none;
    		position: absolute;
    		right: 5rem;
    		-webkit-appearance: none;
    		background: $gray;
    		border: none;
    		color: $white;
    		height: 80px;
    		width: 0;
    		transition: all ease .3s;
    		outline: none;
    		padding-left: 1rem;
    		padding-right: 1rem;
    		font-size: 16px; 
    	}

		&:hover {
			#s {
				transition: all ease .3s;
				display: block;
				width: 180px;
			}
		}
	}
}