@import "config/variables";
@import "config/media-queries";

.btn {
	padding: .7rem 1.5rem;
	padding-left: 3rem;
	display: inline-block;
	position: relative;
	transition: all ease .3s;

	span {
		z-index: 2;
		position: relative;
	}

	&--white {
		background: $white;
		color: #1e1e1e; 

		&:before {
			content: '';
			height: 1px;
			width: 1rem;
			background: #1e1e1e;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1rem;
			z-index: 10;
			
			//safari double tap issue
			@include below (sm) {
				display: none;
			}
		}

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 1;
			background: #1e1e1e; 
			transition: all 0.3s ease;

			@include below (sm) {
				display: none;
			}
		}


		&:hover {
			@include above (sm) {
				color: $white;
			}

			&:before {

				@include above (sm) {
					background: $white;
				}
			}

			&:after {
				left: 0;
  				width: 100%;
			}
		}
	}

	&--gray {
		background: $gray;
		color: $white; 

		&:before {
			content: '';
			height: 1px;
			width: 1rem;
			background: $white;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1rem;
			z-index: 10;

			//safari double tap issue
			@include below (sm) {
				display: none;
			}
		}

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 1;
			background: $green; 
			transition: all 0.3s ease;

			//safari double tap issue
			@include below (sm) {
				display: none;
			}
		}
		
		&:hover {
			@include above (sm) {
				color: $white;
			}

			&:before {
				@include above (sm) {
					background: $white;
				}
			}

			&:after {
				left: 0;
  				width: 100%;
			}
		}	
	}
	
	&--hollow {
		border: 2px solid $white;
		color: $white;

		&:before {
			content: '';
			height: 1px;
			width: 1rem;
			background: $white;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1rem;
			z-index: 10;

			//safari double tap issue
			@include below (sm) {
				display: none;
			}
		}

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 1;
			background: $white; 
			transition: all 0.3s ease;

			//safari double tap issue
			@include below (sm) {
				display: none;
			}
		}

		&:hover {
			@include above (sm) {
				color: #1e1e1e;
			}

			&:before {
				background: #1e1e1e;
			}

			&:after {
				left: 0;
  				width: 100%;
			}
		}
	}
}